.tabBar {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
    .tabBarList {
        width: 100%;
        height: 100%;
        // a {
        //     width: 100%;
        //     height: 56px;
        //     display: block;
        // }
        .sideLink {
            width: 100%;
            height: 56px;
            display: block;
        }
        li {
            box-sizing: border-box;
            width: 100%;
            height: 56px;
            line-height: 56px;
            padding: 0 15px;
            color: rgb(191, 203, 217);
            cursor: pointer;
            transition: background 0.2s;
            &:hover {
                background: #242F42;
            }
            i {
                margin-right: 5px;
            }
        }
    }
}